In [8]:
#!pip install ray

In [1]:
import ray.dataframe as pd
import numpy as np

Process STDOUT and STDERR is being redirected to /tmp/raylogs/.
Waiting for redis server at 127.0.0.1:10520 to respond...
Waiting for redis server at 127.0.0.1:22514 to respond...
Starting local scheduler with the following resources: {'CPU': 4, 'GPU': 0}.

======================================================================
View the web UI at http://localhost:8889/notebooks/ray_ui43144.ipynb?token=0da965d68fb8858dd3058e3acd33c93282917bc48ca8533f
======================================================================

In [2]:
df = pd.read_csv('corrected.csv', header=None)
df2 = pd.read_csv('kddcup.data_corrected.csv', header=None)

In [3]:
df2.head()

   0  tcp  http  SF  215  45076  0.1  0.2  0.3  0.4   ...     0.17  0.00.6  \
0  0  tcp  http  SF  215  45076    0    0    0    0   ...        0     0.0
1  0  tcp  http  SF  162   4528    0    0    0    0   ...        1     1.0
2  0  tcp  http  SF  236   1228    0    0    0    0   ...        2     1.0
3  0  tcp  http  SF  233   2032    0    0    0    0   ...        3     1.0
4  0  tcp  http  SF  239    486    0    0    0    0   ...        4     1.0

   0.00.7  0.00.8  0.00.9  0.00.10  0.00.11  0.00.12  0.00.13  normal.
0     0.0    0.00     0.0      0.0      0.0      0.0      0.0  normal.
1     0.0    1.00     0.0      0.0      0.0      0.0      0.0  normal.
2     0.0    0.50     0.0      0.0      0.0      0.0      0.0  normal.
3     0.0    0.33     0.0      0.0      0.0      0.0      0.0  normal.
4     0.0    0.25     0.0      0.0      0.0      0.0      0.0  normal.

[5 rows x 42 columns]

In [4]:
df2.dtypes

0       int64
1      object
2      object
3      object
4       int64
5       int64
6       int64
7       int64
8       int64
9       int64
10      int64
11      int64
12      int64
13      int64
14      int64
15      int64
16      int64
17      int64
18      int64
19      int64
20      int64
21      int64
22      int64
23      int64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31      int64
32      int64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41     object
dtype: object

In [40]:
np.unique(df2[0])

array([    0,     1,     2, ..., 42888, 42908, 58329])

In [38]:
np.unique(df[41]).shape
df.shape

(311032, 42)